# Python basic


- [Class](#class)
    * basic syntax
    * limit to class

<a id='class'></a>
# Class in python

As mentionned, python allow OOP (object oriented programming) which basically means defining class.  
Nevertheless, it is only the shadow of what it is in java or C++.  
The reason is that the real power of OOP is to define the properties and capacity of an object, and making sure at compilation time that everything is right in the code. OOP strong point is really a specification checked by compilation.

As you don't have this check in python, OOP is still powerful for some generic behaviour, but overall, it is not a proeminent paradigm in python.

Also regarding data analysis, OOP is pure python, so badly fit for the python data analysis librairies.

Let's compare on an example on the titanic dataset :

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/Aenori/20221024_public/main/dataset/titanic_train.csv'
df = pd.read_csv(url, index_col=0)
print(df.head(5))

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

Each row of the data set describe a passenger with several attributes :

In [2]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

The matching pure python code for a class would be :

In [6]:
class Passenger:
    def __init__(self, passenger_id, survived, pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked):
        self.passenger_id = passenger_id
        self.survived = survived
        self.pclass = pclass
        self.name = name
        self.sex = sex
        self.age = age
        self.sibsp = sibsp
        self.parch = parch
        self.ticket = ticket
        self.fare = fare
        self.cabin = cabin
        self.embarked = embarked
        
    def __str__(self):
        return f"Passenger {self.name}, age : {self.age}"

In [7]:
passenger_as_python_class = []

for passenger in df.itertuples():
    passenger_as_python_class.append(
        Passenger(passenger.Index, passenger.Survived, passenger.Pclass, passenger.Name, 
                  passenger.Sex, passenger.Age, passenger.SibSp, passenger.Parch, passenger.Ticket, 
                  passenger.Fare, passenger.Cabin, passenger.Embarked)
    )

In [5]:
len(passenger_as_python_class)

891

In [8]:
print(passenger_as_python_class[0])

Passenger Braund, Mr. Owen Harris, age : 22.0