# Python basic

- [Variable](#variable)
    * [String variable](#string_variable)
    * [F-String](#f_string)
- [Syntax and indentation](#syntax)
- [Functions](#functions)
- [Class](#class)
    * basic syntax
    * limit to class

<a id='variable'></a>
## Variable

Variable are one of the basis of any programming language, and they are meant to store variable values.  
You don't specify the type of a variable in python and variable can even change type ! *That is the kind of thing you should not do*, there is no sensible reason to do that ...

In [8]:
# int
a = 4
# float
b = 4.0
# string
c = "Hello world"

You can ask the type of variable, by simply using the function type()

In [9]:
type(a)

int

NB : In this case, the type is printed because you are in a jupyter notebook, so an interactive environment, and it is the last result of the cell. Otherwise you should use print to show a variable result.

<a id='string_variable'></a>
### String variable

You can use three different delimiters for python string, <code>"</code>, <code>'</code> or <code>"""</code>.  
The three of them create the same kind of string. The only difference is that if you use a delimiter, you can use the other safely.

Also the last one <code>"""</code> is multi-line. It is often used for documentation purpose.

In [11]:
a = "A string with ' inside"
b = 'A string with " inside'
c = """A string
that spawn over multiple lines
"""

<a id='f_string'></a>
### F-String

Let's start by a nice feature of python 3 that will be used through this notebook, f-string.  
F string are a new feature in recent version of python that allow to combine string and variables. It is  

<code>f"show variable {var}"</code>

So you just put an **f** before the string symbol to be able to reference any variable inside with the bracket symbol.

In [12]:
a = 25 + 12
print(f"The result of 25 + 12 is {a}")

The result of 25 + 12 is 37

<a id='syntax'></a>
## Syntax and indentation

First starting with something very specific to python : indentation. Indentation has a syntaxing meaning in python, it defines the bloc code. The basic idea is that code should be well indented, and that a good way to do so is to make sure badly indented code doesn't work ...

For example the two functions are differents :

In [14]:
def f1(i):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")
        print(i)
        
def f2(i):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")
    print(i)

The first function only print i if the number is odd, while the second one always print it

In [17]:
f1(10)
f1(11)
print("=" * 6)
f2(12)
f2(13)

10 is even
11 is odd
11
======
12 is even
12
13 is odd
13

The syntaxing symbol <code>:</code> is strongly linked to indentation, you will find after each instruction that require a block code :  

    if a == 3:
        pass
    for a in l:
        pass
    def my_function(i):
        pass

### One of the strange keyword

<code>pass</code> is a strange keyword. It means "do nothing". What is the use of this keyword ? It is simply that python expect an indented bloc after all instruction that requires it, so if you don't want to provide one yet, you have to use the <code>pass</code> keyword.

<a id='functions'></a>
## Defining functions

Function in python are defined using the keyword <code>def</code> which is followed by the name of the function and the argument :

In [19]:
def custom_sum(a, b):
    return a + b

You don't specify any type, and so the same function can be used with different type :

In [22]:
custom_sum(1, 3)

4

In [23]:
custom_sum("1", "3")

'13'

<code>return</code> is the keyword to define the result of the function. The function is stopped, exited and its result returned.

Be careful that once again, python won't warn you if you write code after the return, even if it won't called anyway

In [24]:
def custom_sum(a, b):
    return a + b
    print(f"The result is {a + b}") # This line will never be executed, 
        # and would produce an error on some compiled language
    
custom_sum(1, 2)

3

## DataStructure

Datastructure are a main tool in programming, as they are used to store and process data. 

!Disclaimer : data analysis in python use some specific data structure, pandas dataframe, numpy array and other.

The three main data structure in python are the same as in every languages (with just different names) :

In [1]:
## List
a_list = [1, 2, 3]

## Set
a_set = {1, 2, 3} #
# or 
a_set_2 = set([1, 2, 3])

## Dict
a_dict = {1: 2, 3: 4}

List are structure that are ordered (from the first element to the last) but they don't have any kind of search structure attached, so finding an element by its value is slow.

Set and dict have search structure.

### Examples

In [ ]:
a_list = ['a', 'b', 'c']
print(a_list[1]) ## fast

a_set = {'a', 'b', 'c'}
print()

## Loop and control flow

<a id='class'></a>
## Class in python

### Python data analysis : class vs panda dataframe

As mentionned, python allow OOP (object oriented programming) which basically means defining class.  
Nevertheless, it is only the shadow of what it is in java or C++.  
The reason is that the real power of OOP is to define the properties and capacity of an object, and making sure at compilation time that everything is right in the code. OOP strong point is really a specification checked by compilation.

As you don't have this check in python, OOP is still powerful for some generic behaviour, but overall, it is not a proeminent paradigm in python.

Also regarding data analysis, OOP is pure python, so badly fit for the python data analysis librairies.

Let's compare on an example on the titanic dataset :

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/Aenori/20221024_public/main/dataset/titanic_train.csv'
df = pd.read_csv(url, index_col=0)
print(df.head(5))

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

Each row of the data set describe a passenger with several attributes :

In [2]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

The matching pure python code for a class would be :

In [3]:
class Passenger:
    def __init__(self, passenger_id, survived, pclass, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked):
        self.passenger_id = passenger_id
        self.survived = survived
        self.pclass = pclass
        self.name = name
        self.sex = sex
        self.age = age
        self.sibsp = sibsp
        self.parch = parch
        self.ticket = ticket
        self.fare = fare
        self.cabin = cabin
        self.embarked = embarked
        
    def __str__(self):
        return f"Passenger {self.name}, age : {self.age}"

In [4]:
passenger_as_python_class = []

for passenger in df.itertuples():
    passenger_as_python_class.append(
        Passenger(passenger.Index, passenger.Survived, passenger.Pclass, passenger.Name, 
                  passenger.Sex, passenger.Age, passenger.SibSp, passenger.Parch, passenger.Ticket, 
                  passenger.Fare, passenger.Cabin, passenger.Embarked)
    )

In [5]:
len(passenger_as_python_class)

891

In [6]:
print(passenger_as_python_class[0])

Passenger Braund, Mr. Owen Harris, age : 22.0