Author : Nicolas Rousset  
Github : https://github.com/Aenori  
Mail : nrousset@gmail.com  
License : MIT

# Titanic data set

In [5]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Aenori/PythonDataAnalysis_public/main/dataset/titanic_train.csv', 
                     index_col=0)

In [6]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# Questions

How many women survived ? How many men ?

What is the average survival rate of women of 1st class ? (Women over 1)

What is the average Fare for people with a cabin ?

How many people with a cabin are not in first class ?

What is the average age of the passenger in first class ? In thid class ?