Copyright (c) 2021 Stefanie Molin  
MIT License  
git@github.com:stefmolin/pandas-workshop.git

# Workbook

Use this notebook to complete the exercises throughout the workshop.

In [ ]:
import urllib.request
# Please execute this at the start of the notebook

base_url = 'https://raw.githubusercontent.com/Aenori/20221024_public/main/help_files/pandas/'
helper_files = ['2019_Yellow_Taxi_Trip_Data.csv', 'Meteorite_Landings.csv', 'tsa_melted_holiday_travel.csv']

for helper_file in helper_files:
    urllib.request.urlretrieve(base_url + helper_file, helper_file)

taxi_file, meteorite_file, holiday_file = helper_files

### Section 1

#### Exercise 1.1
##### Create a DataFrame by reading in the `2019_Yellow_Taxi_Trip_Data.csv` file. Examine the first 5 rows.

In [ ]:
import pandas as pd
df_taxi = pd.read_csv(taxi_file)

df_taxi.head(5)

In [51]:
df_taxi.columns

Index(['vendorid', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'ratecodeid', 'store_and_fwd_flag',
       'pulocationid', 'dolocationid', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

#### Exercise 1.2
##### Find the dimensions (number of rows and number of columns) in the data.

In [52]:
df_taxi.shape

(10000, 18)

#### Exercise 1.3
##### Using the data in the `2019_Yellow_Taxi_Trip_Data.csv` file, calculate summary statistics for the `fare_amount`, `tip_amount`, `tolls_amount`, and `total_amount` columns.

In [ ]:
print(df_taxi.columns)
df_taxi[['fare_amount', 'tip_amount', 'tolls_amount', 'total_amount']].describe()

#### Exercise 1.4
##### Isolate the `fare_amount`, `tip_amount`, `tolls_amount`, and `total_amount` for the longest trip by distance (`trip_distance`).

In [ ]:
# the \ at the end of the line means the line is continuing on next line
df_taxi[['fare_amount', 'tip_amount', 'tolls_amount', 'total_amount']]\
        [df_taxi['trip_distance'] > df_taxi['trip_distance'].max() - 1e-6]

#### Exercise 1.5
##### What is the vendorId that makes the most tip (column `tip_amount`) in average ? In total ?

#### Exercise 1.6
##### What is the average distance (`trip_distance`) of the first half of the data_frame ? Of the second half ?

---

### Section 2

#### Exercise 2.1
##### Read in the meteorite data from the `Meteorite_Landings.csv` file, rename the `mass (g)` column to `mass`, and drop all the latitude and longitude columns. Sort the result by mass in descending order.

In [19]:
df_meteorite = pd.read_csv(meteorite_file)

other_df = df_meteorite.rename(columns={'mass (g)' : 'mass'})\
                       .drop(columns=['reclat', 'reclong', 'GeoLocation'])\
                       .sort_values(['mass'], ascending=False)  

other_df

,name,id,nametype,recclass,mass,fall,year
16392,Hoba,11890,Valid,"Iron, IVB",60000000.0,Found,01/01/1920 12:00:00 AM
5373,Cape York,5262,Valid,"Iron, IIIAB",58200000.0,Found,01/01/1818 12:00:00 AM
5365,Campo del Cielo,5247,Valid,"Iron, IAB-MG",50000000.0,Found,12/22/1575 12:00:00 AM
5370,Canyon Diablo,5257,Valid,"Iron, IAB-MG",30000000.0,Found,01/01/1891 12:00:00 AM
3455,Armanty,2335,Valid,"Iron, IIIE",28000000.0,Found,01/01/1898 12:00:00 AM
...,...,...,...,...,...,...,...
38282,Wei-hui-fu (a),24231,Valid,Iron,NaN,Found,01/01/1931 12:00:00 AM
38283,Wei-hui-fu (b),24232,Valid,Iron,NaN,Found,01/01/1931 12:00:00 AM
38285,Weiyuan,24233,Valid,Mesosiderite,NaN,Found,01/01/1978 12:00:00 AM
41472,Yamato 792768,28117,Valid,CM2,NaN,Found,01/01/1979 12:00:00 AM
45698,Zapata County,30393,Valid,Iron,NaN,Found,01/01/1930 12:00:00 AM

#### Exercise 2.2
##### Using the meteorite data from the `Meteorite_Landings.csv` file, update the `year` column to only contain the year, convert it to a numeric data type, and create a new column indicating whether the meteorite was observed falling before 1970. Set the index to the `id` column and extract all the rows with IDs between 10,036 and 10,040 (inclusive) with `loc[]`.

###### **Hint 1**: Use `year.str.slice()` to grab a substring.

###### **Hint 2**: Make sure to sort the index before using `loc[]` to select the range.

###### **Bonus**: There's a data entry error in the `year` column. Can you find it? (Don't spend too much time on this.)

In [50]:
import datetime as dt

df_meteorite = pd.read_csv(meteorite_file)
print(df_meteorite.shape)
print(df_meteorite['year'].count())

def year_to_string(s):
    try:
        return dt.datetime.strptime(s, '%m/%d/%Y %H:%M:%S %p').year
    except:
        return None
    
year_values = df_meteorite['year'].apply(year_to_string).unique()
year_values.sort()
year_values

(45716, 10)
45425

array([ 860.,  920., 1399., 1490., 1491., 1495., 1519., 1575., 1583.,
       1600., 1621., 1623., 1628., 1632., 1636., 1637., 1647., 1654.,
       1662., 1668., 1671., 1688., 1704., 1715., 1716., 1723., 1724.,
       1740., 1741., 1749., 1750., 1751., 1753., 1766., 1768., 1769.,
       1773., 1775., 1776., 1779., 1781., 1784., 1785., 1787., 1790.,
       1791., 1792., 1793., 1794., 1795., 1796., 1797., 1798., 1801.,
       1803., 1804., 1805., 1806., 1807., 1808., 1809., 1810., 1811.,
       1812., 1813., 1814., 1815., 1817., 1818., 1819., 1820., 1821.,
       1822., 1823., 1824., 1825., 1826., 1827., 1828., 1829., 1830.,
       1831., 1832., 1833., 1834., 1835., 1836., 1837., 1838., 1839.,
       1840., 1841., 1842., 1843., 1844., 1845., 1846., 1847., 1848.,
       1849., 1850., 1851., 1852., 1853., 1854., 1855., 1856., 1857.,
       1858., 1859., 1860., 1861., 1862., 1863., 1864., 1865., 1866.,
       1867., 1868., 1869., 1870., 1871., 1872., 1873., 1874., 1875.,
       1876., 1877., 1878., 1879., 1880., 1881., 1882., 1883., 1884.,
       1885., 1886., 1887., 1888., 1889., 1890., 1891., 1892., 1893.,
       1894., 1895., 1896., 1897., 1898., 1899., 1900., 1901., 1902.,
       1903., 1904., 1905., 1906., 1907., 1908., 1909., 1910., 1911.,
       1912., 1913., 1914., 1915., 1916., 1917., 1918., 1919., 1920.,
       1921., 1922., 1923., 1924., 1925., 1926., 1927., 1928., 1929.,
       1930., 1931., 1932., 1933., 1934., 1935., 1936., 1937., 1938.,
       1939., 1940., 1941., 1942., 1943., 1944., 1945., 1946., 1947.,
       1948., 1949., 1950., 1951., 1952., 1953., 1954., 1955., 1956.,
       1957., 1958., 1959., 1960., 1961., 1962., 1963., 1964., 1965.,
       1966., 1967., 1968., 1969., 1970., 1971., 1972., 1973., 1974.,
       1975., 1976., 1977., 1978., 1979., 1980., 1981., 1982., 1983.,
       1984., 1985., 1986., 1987., 1988., 1989., 1990., 1991., 1992.,
       1993., 1994., 1995., 1996., 1997., 1998., 1999., 2000., 2001.,
       2002., 2003., 2004., 2005., 2006., 2007., 2008., 2009., 2010.,
       2011., 2012., 2013., 2101.,   nan])

#### Exercise 2.3
##### Using the meteorite data from the `Meteorite_Landings.csv` file, create a pivot table that shows both the number of meteorites and the 95th percentile of meteorite mass for those that were found versus observed falling per year from 2005 through 2009 (inclusive). Hint: Be sure to convert the `year` column to a number as we did in the previous exercise.

#### Exercise 2.4
##### Using the meteorite data from the `Meteorite_Landings.csv` file, compare summary statistics of the mass column for the meteorites that were found versus observed falling.

#### Exercise 2.5
##### Using the taxi trip data in the `2019_Yellow_Taxi_Trip_Data.csv` file, resample the data to an hourly frequency based on the dropoff time. Calculate the total `trip_distance`, `fare_amount`, `tolls_amount`, and `tip_amount`, then find the 5 hours with the most tips.

--- 

### Section 3

#### Exercise 3.1
##### Using the TSA traveler throughput data in the `tsa_melted_holiday_travel.csv` file, create box plots for traveler throughput for each year in the data. Hint: Pass `kind='box'` into the `plot()` method to generate box plots.

#### Exercise 3.2
##### Using the TSA traveler throughput data in the `tsa_melted_holiday_travel.csv` file, create a heatmap that shows the 2019 TSA median traveler throughput by day of week and month.

#### Exercise 3.3
##### Annotate the medians in the box plot from *[Exercise 3.1](#Exercise-3.1)*. Hint: The `x` coordinates will be 1, 2, and 3 for 2019, 2020, and 2021, respectively. Alternatively, to avoid hardcoding values, you can use the `Axes.get_xticklabels()` method, in which case you should look at the [documentation](https://matplotlib.org/stable/api/text_api.html) for the `Text` class.