Author : Nicolas Rousset  
Github : https://github.com/Aenori  
Mail : nrousset@gmail.com  
License : MIT

# Titanic data set

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Aenori/PythonDataAnalysis_public/main/dataset/titanic_train.csv', 
                     index_col=0)

In [2]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [35]:
df.shape

(891, 12)

# Questions

How many women survived ? How many men ?

In [3]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [20]:
df[df['Sex'] == 'male']['Survived'].sum()

577

In [5]:
df[df['Sex'] == 'female']['Survived'].sum()

233

In [36]:
df['IsFemale'] = (df['Sex'] == 'female')

In [37]:
df['IsFemale'].value_counts()

False    577
True     314
Name: IsFemale, dtype: int64

What is the average survival rate of women of 1st class ? (Women over 1)

In [6]:
df[(df['Sex'] == 'female') & (df['Pclass'] == 1)]['Survived'].mean()

0.9680851063829787

What is the average Fare for people with a cabin ?

In [22]:
(~df['Cabin'].isna()).sum()

204

In [38]:
df[~df['Cabin'].isnull()]['Fare'].mean()

76.14150392156861

This one is quicker

In [18]:
df.loc[~df['Cabin'].isnull(), 'Fare'].mean()

76.14150392156861

This one is slow

In [19]:
df.dropna(subset=['Cabin'])['Fare'].mean()

76.14150392156861

How many people with a cabin are not in first class ?

In [43]:
(~df['Cabin'].isnull() & (df['Pclass'] != 1)).sum()

28

What is the average age of the passenger in first class ? In thid class ?

In [44]:
df['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [45]:
# This can be a way to handle missing values
df['AgeOrMean'] = df['Age']
df.loc[df['Age'].isnull(), 'AgeOrMean'] = df['Age'].mean()
df['AgeOrMean'].describe()

count    891.000000
mean      29.699118
std       13.002015
min        0.420000
25%       22.000000
50%       29.699118
75%       35.000000
max       80.000000
Name: AgeOrMean, dtype: float64

In [48]:
df[df['Pclass'] == 1]['Age'].mean()

38.233440860215055

In [49]:
df[df['Pclass'] == 3]['Age'].mean()

25.14061971830986

We can also use groupby :

In [54]:
df.groupby('Pclass')['Age'].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [55]:
df.groupby(['Sex','Pclass'])['Survived'].mean()

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64