# Pandas - basis

This part is intended for trainees without previous experience in programming.  
Most exercises only require one line of code to be answered, and are meant to familiarise yourself with python syntax and pandas.

## Prelude - loading the data

We will be using a data set containing data about yellow taxi trips. Just execute the following cell without modifying it.

In [ ]:
import urllib.request
# Please execute this at the start of the notebook

base_url = 'https://raw.githubusercontent.com/Aenori/PythonDataAnalysis_public/main/help_files/pandas/'
helper_file = '2019_Yellow_Taxi_Trip_Data.csv'

urllib.request.urlretrieve(base_url + helper_file, helper_file)

In [ ]:
import pandas as pd
df_taxi = pd.read_csv(helper_file)

## Part 1 - Dataframe global overview

All exercises of this part are just one function call

### Exercice 1 : number of rows and columns

What is the number of rows and columns of the DataFrame `df_taxi` ? There are several methods that give the information, use the one that only gives it.

### Exercice 2 : list of columns

Find the list of the columns of `df_taxi`

### Exercice 3 : detailled list of columns

Find the list of the columns of `df_taxi` with their type, and some other info, like the memory usage of the `DataFrame`

### Exercice 4 : DataFrame sample

Show the 5 first rows of the `DataFrame`

### Exercice 5 : statistical description

In one line, extract somme statistical data about all numerical columns : min, max, quantile ...

## Part 2 - column informations

### Exercice 5 : access a column

Access the column 'extra' by two differents ways

### Exercice 6 : maximum of column

What is the maximum of the column trip_distance ?

### Exercice 7 : 

What is the minimum of the column trip_distance ?

### Exercice 8 :

How many differents vendorid is there ? What is the most common value for vendorid ? This can be answered with one function call

### Exercice 9 :

Draw an histogram that shows the distribution of `fare_amount`

## Part 3 : manipulation between columns

### Exercice 10 :

Create a column `total_by_passenger` that is equal to the `total_amount` divided by `passenger_count`

### Exercice 11 :

What is the standard deviation of the column `total_by_passenger` ? Why is that ?

### Exercice 12 :

Create a column `delta_amount` that is equal to the difference between the `total_amount` and the `tip_amount`

### Exercice 13 : little bit trickier

Create a column `max_tip_toll` that is the maximum of the columns `tolls_amount` and `tip_amount`

## Part 4 : part of DataFrame extraction

### Exercice 14 :

Extract a view on the Dataframe with the columns 'tpep_pickup_datetime', 'tpep_dropoff_datetime' and 'trip_distance'

### Exercice 15 :

Extract a Dataframe with first 5000 rows

### Exercice 16 :

Extract a Dataframe with the first 2000 rows and the cols `tip_amount`, `tolls_amount` and `total_amount`

## Bonus

### Exercice 21 : fast and furious

Who is the fatest driver, in average ?