Author : Nicolas Rousset  
Github : https://github.com/Aenori  
Mail : nrousset@gmail.com  
License : MIT

# Comparing data set

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Aenori/PythonDataAnalysis_public/main/dataset/titanic_train.csv', 
                     index_col=0)
df.shape

(891, 11)

In [2]:
import numpy as np

Lets imagine we have two identical Dataframe, or meant to be identical

In [3]:
df_2 = df.copy()

But one of them as some glitch,how do you detect the faulty rows ?

In [4]:
df_2.loc[np.random.randint(0,df.shape[0],5), 'Age'] = 50

In [5]:
df['Age'].mean()

29.69911764705882

In [6]:
df_2['Age'].mean()

29.846606145251393

Because the 2 dataframe have the same columns and the same index, we can compare them by using (df == df_2), it will give as a result a Dataframe with elementwise comparisons ...

In [7]:
(df == df_2).head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,True,True,True,True,True,True,True,True,True,False,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,False,True
4,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,False,True

But we have some comparisons failures in Cabin, which is not normal ... it is because, for numpy, np.NaN != np.NaN

In [8]:
np.NaN == np.NaN

False

So we have to add a condition "or both are na"

In [9]:
df_comp = ((df == df_2) | (df.isna() & df_2.isna()))

Then we aggregate to check if there are some differences in the row

In [10]:
df_comp = df_comp.all(axis=1)

In [11]:
diff = df_comp[~df_comp]

In [12]:
diff

PassengerId
35     False
88     False
127    False
323    False
621    False
dtype: bool

In [13]:
df.loc[diff.index, 'Age']

PassengerId
35     28.0
88      NaN
127     NaN
323    30.0
621    27.0
Name: Age, dtype: float64

In [14]:
df_2.loc[diff.index, 'Age']

PassengerId
35     50.0
88     50.0
127    50.0
323    50.0
621    50.0
Name: Age, dtype: float64